<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="style.css">
    <title>Фильтры</title>
    <style>
        body {
            background-image: url(../static/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;

    </style>
</head>
<body>
 <span><center><img style="width: 600px;" src="../static/logo.png" alt="Logotype"></center></span>
<h3>Фильтры</h3>

    {% for task in tasks %}
        {% if task['is_done'] %}
            <!-- Показываем ссылку на страницу, которая отметит задачу невыполенной -->
            <li>{{ task['name'] }} <small><a href="/tasks/{{ loop.index0 }}/undone"><img src="\static\frame.png"></a></small>
            </li>
        {% else %}
            <!-- Показываем ссылку на страницу, которая отметит задачу выполенной -->
            <li>{{ task['name'] }} <small><a href="/tasks/{{ loop.index0 }}/done"><img src="\static\ticked.png"></a></small></li>
        {% endif %}
    {% endfor %}


</body>
</html>
