body {
    background-image: url(../static/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    display: flex;
}

.frame {
    width: 20%;
    position: relative;
    right: -3%;
    bottom: -70px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #f7dcf9, #b896ec 100%, #edd4f8);
}

 .frame2 {
    width: 65%;
    position: relative;
    bottom: -70px;
    right: -6%;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #f7dcf9, #b896ec 100%, #edd4f8);
 }

.filter {
    text-align: center;
}

@font-face {
    font-family: 'Bornia';
    src: url('./bornia-bold.ttf') format('truetype');
}

p {
    font-family: 'Bornia', sans-serif;
    color: #885DAB;
    font-size: 160%;
    text-align: center;
}

.search {
    width: 85%;
    height: 35px;
    background: #C09DED;
    color: #FBF2FD;
    border-radius: 15px;
    border: none;
}

.submit {
    width: 7%;
    height: 35px;
    background: #9DA2CE;
    border-radius: 15px;
    color: #FBF2FD;
    border: none;
}

.tags {
    font-family: 'Bornia', sans-serif;
    color: #9774AF;
    font-size: 155%;
    text-align: center;
    bottom: -50px;
}
