body {
    background-image: url(../static/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body img {
    position: relative;
    right:-570px;
    bottom:-30px;
}
