<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="/static/style.css">
    <title>k-pop choreography search</title>
</head>
<body>
    <!-- <div class="logo"> -->
        <center><img src="../static/logo.png" alt="Logotype"></center>
    <!-- </div> -->
    <section>
        <div class="container">
            <div class="frame">
                <p class="filter">TAGS</p>
                <div class="tags"><center>{% for task in tasks %}
        {% if task['is_done'] %}
            <!-- Показываем ссылку на страницу, которая отметит задачу невыполенной -->
            <ul>{{ task['name'] }} <small><a href="/tasks/{{ loop.index0 }}/undone"><img src="\static\frame.png"></a></small>
            </ul>
        {% else %}
            <!-- Показываем ссылку на страницу, которая отметит задачу выполенной -->
            <ul>{{ task['name'] }} <small><a href="/tasks/{{ loop.index0 }}/done"><img src="\static\ticked.png"></a></small></ul>
        {% endif %}
    {% endfor %} </center>
                    </div>
            </div>
            <div class="frame2">
                <form>
                    <p><input type="search" name="q" class="search" placeholder="Search for the result">
                    <input type="submit" class="submit" value="Search"></p>
                </form>
            <p>
                {% if videos %}
<!--        <ul>-->
            {% for video in videos %}
<!--                <li>-->
                    <div>
                        <video src="{{ video[4] }}" width="320" height="240" controls>
                            Your browser does not support the video tag.
                        </video>
                    </div>
                <br/>
<!--                </li>-->
            {% endfor %}
<!--        </ul>-->
    {% else %}
        <p>Нет доступных видео</p>
    {% endif %}
            </p>
        </div>
    </div>
</section>
</body>
</html>
