.body_main {
    background-image: url(../static/background3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
}

.translate_en,
.translate_rus,
.log {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    position: absolute;
    top: 10px;
    border-radius: 12px;
}

.translate_en {
    right: 10px;
}

.translate_rus {
    right: 10px;
}

.log {
    right: 120px;
}

.frame {
    border-radius: 70px;
    background-image: linear-gradient(180deg, #f7dcf9, #b896ec 100%, #edd4f8);
    padding: 20px;
    margin: 20px;
}

.filter, .tags {
    text-align: center;
}

a {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #885DAB;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.search {
    height: 35px;
    background: #C09DED;
    color: #FBF2FD;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-bottom: 1em;
    width: 65%;
    font-size: 120%;
    min-width: 100px;
}

.submit_search1,
.submit_search2 {
    height: 35px;
    min-width: 100px;
    background: #9DA2CE;
    border-radius: 20px;
    color: #FBF2FD;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
}

.submit_search1 {
    width: 30%;
    font-size: 50%;
}

.submit_page {
    height: 35px;
    min-width: 50px;
    background: #f7dcf9;
    border-radius: 20px;
    color: #C09DED;
    border: none;
    width: 10%;
    margin-left: 50px;
    margin-top: 10px;
    text-transform: uppercase;
}

.tags {

    text-transform: uppercase;
    color: #9774AF;
    font-size: 2vw;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videos-container {
    display: flex;
}

.video-card {
    margin-bottom: 20px;
    width: 40%;
    margin-bottom: 2em;
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#popup {
    width: 50%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    aspect-ratio: 16 / 9;
}

.video-thumbnail {
    cursor: pointer;
    width: 100%; 
    height: auto;
    margin: 10px;
}

.video-container iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#video-player {
    width: 100%;
    height: 100%;
    border: none;
}

.searchbar {
    margin-bottom: 2em;
    display: block;
    width: 130%;
    margin-left: 3%;
}

.body_login {
    background-image: url(../static/background4.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    text-transform: uppercase;
    font-size: 450%;
    color: #452192;
}

.link {
    text-decoration: none;
    font-size: 125%;
    margin-left: 93%;
    color: #452192;
    text-transform: uppercase;
}

.container_admin,
.container_remove {
    border-radius: 70px;
    background-image: linear-gradient(180deg, #e4dcf9, #aa94ed 100%, #edd4f8);
    padding: 20px;
    margin: 20px;
    width:50%;
}

.container_admin {
    margin-top: 10%;
}

.container_remove {
    margin-top: 15%;
}

.container_login {
    text-align: center;
    margin-top: 15%;
}

.input_login {
    text-transform: uppercase;
    margin-top: 3%;
    text-align: center;
    background: #7a53ce;
    border-radius: 20px;
    border: none;
    font-size: 150%;
    width: 50%;
    display: block;
    margin-bottom: 10px;
    width: 30%;
}


.button_login {
    text-transform: uppercase;
    margin-top: 2%;
    background: #9f83db;
    border-radius: 20px;
    color: #e4dcf9;
    border: none;
    text-align: center;
    font-size: 120%;
    width: 10%;
    display: block;
}

.button_url {
    background: transparent;
    border: none !important;
    color: #6940cf;
}

.select_admin,
.select_login,
.select_main {
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    color: #e4dcf9;
    border: none;
}

.select_main {
    background: #a38beb;
    width: 90%;
    font-size: 70%;
}

.select_admin {
    background: #6446a7;
    font-size: 170%;
    margin-top: 5%;
    width: 65%;
    display: block;
}

.select_login {
    background: #6446a7;
    font-size: 130%;
    width: 20%;
    margin-top: 2%;
    display: block;
}

.submit_remove,
.submit_get,
.submit_admin {
    background: #e4dcf9;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    color: #6446a7;
    border: none;
    margin-bottom: 5%;
}

.submit_admin {
    font-size:160%;
    margin-top: 10%;
}

.submit_remove {
    font-size:160%;
    margin-top: 5%;
}

.submit_get {
    font-size:140%;
    margin-top: 5%;
}

.placeholder {
    font-size:200%;
    border: none;
    display: block;
    background: #6446a7;
    margin-top: 5%;
    border-radius: 20px;
    outline: none;
    border: none;
    text-align: center;
    width: 65%;
}

input::placeholder {
    text-transform: uppercase;
    color: #e4dcf9;
}

.list_get {
    color: #6446a7;
    list-style: none;
    font-size: 140%;
}