.body_main {
    background-image: url(../static/background3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
}
.translate_en,
.translate_rus,
.log {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    position: absolute;
    top: 10px;
    border-radius: 12px;
}

.translate_en {
    right: 10px;
}

.translate_rus {
    right: 90px;
}
.log{
    right: 150px;
}

.frame {
    border-radius: 70px;
    background-image: linear-gradient(180deg, #f7dcf9, #b896ec 100%, #edd4f8);
    padding: 20px;
    margin: 20px;
}

.filter, .tags {
    text-align: center;
}

@font-face {
    font-family: 'Bornia';
    src: url('./bornia-bold.ttf') format('truetype');
}

p {
    font-family: 'Bornia', sans-serif;
    color: #885DAB;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 1em;
}

.search {
    height: 35px;
    background: #C09DED;
    color: #FBF2FD;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-bottom: 1em;
    width: 65%;
    font-size: 120%;
    min-width: 100px;
}

.submit_search1 {
    height: 35px;
    min-width: 100px;
    background: #9DA2CE;
    border-radius: 20px;
    color: #FBF2FD;
    border: none;
    margin-top: 10px;
    width: 30%;
    font-size: 50%;
}

.submit_search2 {
    height: 35px;
    min-width: 100px;
    background: #9DA2CE;
    border-radius: 20px;
    color: #FBF2FD;
    border: none;
    margin-top: 10px;

}

.submit_page {
    height: 35px;
    min-width: 50px;
    background: #f7dcf9;
    border-radius: 20px;
    color: #C09DED;
    border: none;
    width: 10%;
    margin-left: 50px;
    margin-top: 10px;
}

.tags {
    font-family: 'Bornia', sans-serif;
    color: #9774AF;
    font-size: 2vw;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.video-thumbnail {
    cursor: pointer;
    width: 100%; 
    height: auto;
    margin: 10px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-card {
    width: 40%;
    margin-bottom: 2em;
}

.searchbar {
    margin-bottom: 2em;
    text-align: center;
    display: block;

}

.body_login {
    background-image: url(../static/background4.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container_login {
    text-align: center;
    margin-top: 15%;

}

.login {
    text-transform: uppercase;
    font-size: 450%;
    color: #452192;
    font-family: "Quicksand", sans-serif;
}

.link {
    text-decoration: none;
    font-size: 125%;
    margin-left: 93%;
    color: #452192;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
}


.input_login {
    text-transform: uppercase;
    margin-top: 3%;
    text-align: center;
    background: #7a53ce;
    border-radius: 20px;
    border: none;
    font-size: 150%;
    width: 50%;
    font-family: "Quicksand", sans-serif;
    display: block;
    margin-bottom: 10px;
    width: 30%;
}


.button_login {
    text-transform: uppercase;
    margin-top: 2%;
    background: #9f83db;
    border-radius: 20px;
    color: #e4dcf9;
    border: none;
    text-align: center;
    font-size: 120%;
    width: 10%;
    font-family: "Quicksand", sans-serif;
    display: block;
}

input::placeholder {
    color: #e4dcf9;
}

.container_admin {
    border-radius: 70px;
    background-image: linear-gradient(180deg, #e4dcf9, #aa94ed 100%, #edd4f8);
    padding: 20px;
    margin: 20px;
    width:50%;
    margin-top: 10%;
}

input::placeholder {
    text-transform: uppercase;
    color: #e4dcf9;
}

.placeholder_admin {
    font-size:200%;
    border: none;
    display: block;
    background: #a38beb;
    margin-top: 5%;
    border-radius: 20px;
    outline: none;
    border: none;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    width: 65%;
}

.submit_admin {
    background: #e4dcf9;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    color: #a38beb;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-size:160%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.select_admin {
    background: #a38beb;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    color: #e4dcf9;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-size: 170%;
    margin-top: 5%;
    width: 65%;
    display: block;
}
.select_main {
    background: #a38beb;
    text-align: center;
    border-radius: 20px;
    color: #e4dcf9;
    border: none;
    font-family: "Quicksand", sans-serif;
    width: 70%;
    font-size: 50%;
}