body {
    background-image: url(../static/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
}
.translate_en,
.translate_rus {
    cursor: pointer;
    margin-left: 12px;
    position: absolute;
    top: 10px;
    border-radius: 12px;
}

.translate_en {
    right: 10px;
}

.translate_rus {
    right: 90px;
}

.frame, .frame2 {
    width: 90%;
    max-width: 1200px;
    border-radius: 70px;
    background-image: linear-gradient(180deg, #f7dcf9, #b896ec 100%, #edd4f8);
    margin: 20px;
    padding: 20px;
}

.frame {
    max-width: 500px;
}

.filter, .tags {
    text-align: center;
}

@font-face {
    font-family: 'Bornia';
    src: url('./bornia-bold.ttf') format('truetype');
}

p {
    font-family: 'Bornia', sans-serif;
    color: #885DAB;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 1em;
}

.search {
    width: 100%;
    max-width: 500px;
    height: 35px;
    background: #C09DED;
    color: #FBF2FD;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-bottom: 1em;
}

.submit {
    width: 10%;
    height: 35px;
    background: #9DA2CE;
    border-radius: 20px;
    color: #FBF2FD;
    border: none;
    padding: 10px;
}

.tags {
    font-family: 'Bornia', sans-serif;
    color: #9774AF;
    font-size: 2vw;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
}

.video-card {
    width: 40%;
    margin-bottom: 2em;
}

.searchbar {
    margin-bottom: 2em;
}
