body {
    background-image: url(../static/background3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
}
.translate_en,
.translate_rus {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    position: absolute;
    top: 10px;
    border-radius: 12px;
}

.translate_en {
    right: 10px;
}

.translate_rus {
    right: 90px;
}

.frame {
    border-radius: 70px;
    background-image: linear-gradient(180deg, #f7dcf9, #b896ec 100%, #edd4f8);
    padding: 20px;
    margin: 20px;
}

.filter, .tags {
    text-align: center;
}

@font-face {
    font-family: 'Bornia';
    src: url('./bornia-bold.ttf') format('truetype');
}

p {
    font-family: 'Bornia', sans-serif;
    color: #885DAB;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 1em;
}

.search {
    height: 35px;
    background: #C09DED;
    color: #FBF2FD;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-bottom: 1em;
    width: 65%;
    min-width: 100px;
}

.submit {
    height: 35px;
    min-width: 100px;
    background: #9DA2CE;
    border-radius: 20px;
    color: #FBF2FD;
    border: none;
    height: 35px;
    margin-top: 10px;
    width: 30%;

}

.tags {
    font-family: 'Bornia', sans-serif;
    color: #9774AF;
    font-size: 2vw;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-card {
    width: 40%;
    margin-bottom: 2em;
}

.searchbar {
    margin-bottom: 2em;
    width: 100%;
    align-items: center;
    text-align: center;
}
