<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>k-pop choreography search</title>
    <style>
        .videos-container {
            display: flex;
        }

        .column {
            flex: 1;
            padding: 10px;
        }

        .video-card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="logo">
    <a href="/translate"><img src="../static/logo.png" alt="Logotype"></a>
</div>
<!--вот кнопки для перевода-->
<a href="/"> <button id="en" class="translate_en header-item-lang-en"><img src="../static/uk.png" width="50" height="40"></button></a>

<button id="ru" class="translate_rus header-item-lang-en"><img src="../static/rus.jpg" width="50" height="40"></button>

<section>
    <form>
        <div class="container">

            <div class="frame">

                <p class="filter">ФИЛЬТРЫ</p>


                <div class="tags">
                    {% for group in filter_groups %}

                    <h5>{{ group['translate_title'] }}</h5>

                    <center>
                        {% for filter in group['filters'] %}
                        {% if filter['code'] in request.args %}

                        <input type="checkbox" name="{{ filter['code'] }}" checked class="name"> {{ filter['translate'] }}
                        <br>
                        {% else %}

                        <input type="checkbox" name="{{ filter['code'] }}" class="name"> {{ filter['translate'] }}
                        <br>
                        {% endif %}
                        {% endfor %}
                    </center>
                    {% endfor %}
                    <input type="submit" class="submit_search" value="Search">
                </div>

            </div>
            <div class="frame2">
                <div class="searchbar lang">
                    <p><input type="search" name="q" class="search" placeholder="введите название группы"
                              value="{{ request.args.get('q', '') }}">
                        <input type="submit" class="submit_search" value="поиск"></p>
                    <p>
                </div>
                {% if videos %}
                <div class="videos-container">

                    <div class="column">
                        <center>
                            {% for video in videos %}
                            {% if loop.index is even %}
                            <div class="video-card">
                                <center>
                                    <iframe width="320" height="240" src="{{ video }}"></iframe>
                                </center>
                            </div>
                            {% endif %}

                            {% endfor %}
                        </center>
                    </div>
                    <div class="column">

                        {% for video in videos %}
                        {% if loop.index is odd %}
                        <div class="video-card">
                            <center>
                                <iframe width="320" height="240" src="{{ video }}"></iframe>
                            </center>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <center><p> не найдено</p></center>
                {% endif %}
                </p>
            </div>

        </div>
    </form>
</section>
</body>
</html>