<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <form method="POST" action="/add">
      <input name="group_name" placeholder="Название группы" />
      <input name="members_num" placeholder="Количество участников" />
      <select name="gender" id="gender">
        <option value="">Гендер участников группы</option>
        <option value="male">Мужской</option>
        <option value="female">Женский</option>
      </select>
      <input name="url" placeholder="Ссылка на видео"/>
      <input type="submit" value="Добавить в базу данных" />
  </form>
  </body>
</html>