<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>k-pop choreography search</title>

</head>
<body class="body_main">

<div class="logo">
    <a href="/"><img src="../static/logo.png" alt="Logotype"></a>
</div>
<a href="/rus">
<button id="ru" class="translate_rus header-item-lang-en"><input type="submit" class="submit_search2" value="rus"></button>
</a>

<a href="/login">
    <button id="ru" class="log header-item-lang-en"><input type="submit" class="submit_search2" value="log in"></button>
</a>

<section>
    <form>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="frame">
                        <p class="filter">Filters</p>


                        <div class="tags">
                            <form method="POST">
                                {% for group in filter_groups %}
                                <h5 style="font-size:90%">{{ group['title'] }}</h5>

                                <center>
                                        <select class="select_main" name="{{ group['title'] }}" id="{{ group['title'] }}">
                                            <option value="">Choise variant</option>
                                            {% for filter in group['filters'] %}
                                                <option value="{{ filter['code'] }}">{{filter['name']}}</option>
                                            {% endfor %}
                                        </select>
                                </center>
                                {% endfor %}
                            </form>
                            <input type="submit" class="submit_search1" value="Search">
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-9">
                    <div class="frame">
                        <div class="searchbar lang">
                            <input type="search" name="search" class="search" placeholder="Search for the result"
                                   value="{{ request.args.get('search', '') }}">

                            <input type="submit" class="submit_search2" value="Search">

                        </div>
                        {% if videos %}
                        <div class="row">
                            {% for embed_url, preview_url, group_name, video_name, video_url in videos %}
                                <div class="col-12 col-md-6">
                                    <div class="video-container">
                                        <img src="{{ preview_url }}" style="border-radius: 20px" alt="Превью видео" class="video-thumbnail" onclick="showPopup('{{ embed_url }}')">
                                    </div>
                                    <p style="display: flex; align-items: center; justify-content: space-between;">
                                        <span>{{ group_name }} - {{ video_name }}</span>
                                        <span id="message" style="margin-left: 10px;"></span>
                                        <button class="button_url" onclick="copyUrl('{{ video_url }}')">URL</button>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                        
                        <div id="popup-overlay">
                            <div id="popup">
                                <iframe id="video-player" src="" frameborder="0"></iframe>
                            </div>
                        </div>
                            <script>
                                const popupOverlay = document.getElementById("popup-overlay");
                                const videoPlayer = document.getElementById("video-player");
                                
                                function showPopup(videoUrl) {
                                    videoPlayer.src = videoUrl; 
                                    popupOverlay.style.display = "flex"; 
                                }
                                
                                function hidePopup() {
                                    popupOverlay.style.display = "none"; 
                                    videoPlayer.src = ""; 
                                }
                                popupOverlay.addEventListener("click", hidePopup);

                                function copyUrl(videoUrl) {
                                    event.preventDefault()
                                    // Создаем временный элемент для копирования текста
                                    const tempInput = document.createElement('textarea');
                                    tempInput.value = videoUrl; // Получаем текст из параметра функции
                                    document.body.appendChild(tempInput);

                                    // Выделяем текст в временном элементе
                                    tempInput.select();
                                    tempInput.setSelectionRange(0, 99999); // Для мобильных устройств

                                    // Копируем текст в буфер обмена
                                    document.execCommand('copy');

                                    // Удаляем временный элемент
                                    document.body.removeChild(tempInput);

                                    
                                }
                            </script>

                            {% if page > 0 %}
                            <div>
                                <form method="get">
                                    <input type="hidden" name="page" value="{{ page - 1 }}">
                                    {% for group in filter_groups %}
                                    {% for filter in group['filters'] %}
                                    {% if filter['code'] in request.args %}
                                    <input type="hidden" name="{{ filter['code'] }}"
                                        value="{{ request.args[filter.code] }}">
                                    {% endif%}
                                    

                                    {% endfor %}
                                    {% endfor %}
                                    <input type="submit" class="submit_page" value="Назад"/>
                                </form>
                            </div>
                            {% endif %}
                            {% if page < pages - 1 %}
                            <div>
                                <form method="get">
                                    <input type="hidden" name="page" value="{{ page + 1 }}">
                                    {% for group in filter_groups %}
                                    {% for filter in group['filters'] %}
                                    {% if filter['code'] in request.args %}
                                    <input type="hidden" name="{{ filter['code'] }}"
                                        value="{{ request.args[filter.code] }}">
                                    {% endif%}

                                    {% endfor %}
                                    {% endfor %}
                                <input type="submit" class="submit_page" value="Next"/>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <center><p>Not founded</p></center>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>


        </div>
    </form>
</section>
</body>
</html>
